.detail{
    margin-top: 25px;
}
.list{
    padding: 50px;
}

.very-danger{
    color:white;
    background-color: brown;
}

#main{
    display:none;
}

#login{
    margin-top: 20%;
}

.text-wrong {
    margin-left: 20%;
    display: none;
}