.detail{
    margin-top: 25px;
}
.list{
    padding: 50px;
}

span.little-danger{
    color:lightcoral;
}

span.very-danger{
    color:brown;
}

#main{
    display:none;
}

#login{
    margin-top: 20%;
}

.text-wrong {
    margin-left: 20%;
    display: none;
}